
h1 {
  color: grey;
  text-align: center;
  font-weight: normal
}

h2.intro {
  color: rgb(78, 78, 29);
  font-size: 22px;
  text-align: center;
  font-weight: bold
}

.intro {  
  margin: auto;
  width: 60%;
  height: auto;
  font-size: 14px;
  font-family: sans-serif;
  text-align: center;
  display: block;
}

img.intro {
  margin: auto;
  width: 80%;
  height: auto;
  padding: 9px;
  margin-bottom: 20;
  display: block;
}

.columns {
  float: left;
  margin: auto;
  width: 30%;
  height: auto;
  font-size: 12px;
  font-family: serif;
  text-align: center;
  padding: 9px;
  display: block;
}

img.columns {
  margin: auto;
  width: 90%;
  height: auto;
  display: block;
}

p.first {
  background-color: rgb(249, 250, 229)
}

p.second {
  background-color: rgb(248, 229, 250)
}

p.third {
  background-color: rgb(229, 243, 250)
}

@media screen and (min-width: 768px) {
  body {
  background-color: rgb(255, 253, 231);
  }
}

@media screen and (max-width: 768px) and (min-width: 650px) {
  body {
    background-color: rgb(186, 191, 201);
    color: white;
  }   
}

@media screen and (max-width: 580px) {
  body {
    background-color: rgb(236, 204, 228);
  }
}